<?xml version="1.0" encoding="UTF-8"?>

<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" logArgs="false"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

    <Service name="Catalina">

        <Connector SSLEnabled="true"
                   protocol="org.apache.coyote.http11.Http11NioProtocol"
                   port="${tomcat_port}"
                   maxThreads="200"
                   scheme="https"
                   secure="true"
                   clientAuth="false"
                   sslProtocol="TLS">
            <SSLHostConfig hostName="_default_"
                           truststoreFile="/etc/harmony-smp/tls-truststore.p12"
                           truststorePassword="${tls_truststore_password}"
                           truststoreType="PKCS12">
                <Certificate certificateKeystoreFile="/etc/harmony-smp/tls-keystore.p12"
                             certificateKeystorePassword="${tls_keystore_password}"
                             certificateKeystoreType="PKCS12"/>
            </SSLHostConfig>
        </Connector>

        <Engine name="Catalina" defaultHost="localhost">

            <Host name="localhost"
                  appBase="/opt/harmony-smp/webapps"
                  createDirs="false"
                  unpackWARs="false"
                  autoDeploy="false"
                  workDir="/var/opt/harmony-smp/work">

                <Valve className="org.apache.catalina.valves.ErrorReportValve"
                       showReport="false" showServerInfo="false"/>
                <Valve className="org.apache.catalina.valves.AccessLogValve"
                       directory="/var/log/harmony-smp"
                       prefix="localhost_access_log" suffix=".txt"
                       pattern="%h %l %u %t &quot;%r&quot; %s %b"/>

            </Host>
        </Engine>
    </Service>
</Server>
