Source: harmony-ap
Section: web
Priority: optional
Maintainer: Nordic Institute for Interoperability Solutions (NIIS) <edelivery@niis.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 3.8.3

Package: harmony-ap
Architecture: all
Depends: openjdk-11-jre-headless | java8-runtime-headless | java8-runtime, mysql-server, mysql-client
Description: Harmony eDelivery Access - Access Point
