# ============================
# Build output
# ============================
**/build/
!src/**/build/

# ============================
# Java / Maven
# ============================
*.class
*.hprof

# ============================
# Gradle
# ============================
.gradle
!gradle-wrapper.jar
.gradletasknamecache
*.gc

# ============================
# IDE / Editor
# ============================
.idea/
*.iml
.vscode/

# ============================
# Temporary / OS
# ============================
*~
*.swp
*.swo
*.log
.DS_Store
Thumbs.db
