<http-conf:tlsClientParameters disableCNCheck="false" secureSocketProtocol="TLSv1.2"
                               xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
                               xmlns:security="http://cxf.apache.org/configuration/security">
    <security:trustManagers>
        <security:keyStore type="pkcs12" password="" file="/etc/harmony-ap/tls-truststore.p12"/>
    </security:trustManagers>
</http-conf:tlsClientParameters>
