#!/bin/bash
export JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
export JAVA_OPTS="$JAVA_OPTS -Djavax.net.ssl.trustStore=/etc/harmony-smp/tls-truststore.p12 -Djavax.net.ssl.trustStorePassword=${tls_truststore_password}"
