# This file is assumes that cloud-init network configuration is disabled
# /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg should contain:
# network: {config: disabled}
network:
    version: 2
    ethernets:
        {{ ansible_default_ipv4.interface }}:
            dhcp4: true
            nameservers:
                addresses: [{{ private_dns }}]
            dhcp4-overrides:
                use-dns: false
