#!/bin/bash

. /usr/share/debconf/confmodule

if [ "$1" = "configure" ] || [ "$1" = "reconfigure" ]; then
  db_input high harmony-ap/adminuser || true
  db_input high harmony-ap/adminpassword || true
  db_input high harmony-ap/servercn || true
  db_go
fi

# TODO add some checking of values?

db_stop
