#!/bin/bash

. /usr/share/debconf/confmodule

if [ "$1" = "configure" ] || [ "$1" = "reconfigure" ]; then
  db_input high harmony-ap/usedynamicdiscovery
  db_go

  db_get harmony-ap/usedynamicdiscovery
  USEDYNAMIC="$RET"

  if [ "$USEDYNAMIC" = true ]; then
    db_input high harmony-ap/smlzone
    SMLZONE="$RET"
  fi

  db_beginblock
  db_input high harmony-ap/adminuser || true
  db_input high harmony-ap/adminpassword || true
  db_input high harmony-ap/partyname || true
  db_input high harmony-ap/serverdn || true
  db_input high harmony-ap/tomcatport || true
  db_endblock
  db_go
fi

# TODO add some checking of values?

db_stop
