#!/bin/bash

. /usr/share/debconf/confmodule

if [ "$1" = "configure" ] || [ "$1" = "reconfigure" ]; then
  db_input high harmony-smp/serverdn
  db_input high harmony-smp/tomcatport
  db_input high harmony-smp/integratewithsml
  db_go

  db_get harmony-smp/integratewithsml
  USESML="$RET"

  if [ "$USESML" = true ]; then
    db_beginblock
    db_input high harmony-smp/smlurl
    db_input high harmony-smp/smpurl
    db_input high harmony-smp/smpip
    db_endblock
    db_go
  fi
fi

db_stop
