Source: harmony-smp
Section: web
Priority: optional
Maintainer: Nordic Institute for Interoperability Solutions (NIIS) <edelivery@niis.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 3.8.3

Package: harmony-smp
Architecture: all
Depends: openjdk-8-jre-headless | java8-runtime-headless | java8-runtime, mysql-server, mysql-client, xmlstarlet
Description: Harmony eDelivery Access - Service Metadata Publisher
